<!DOCTYPE html>
<style>
.size{
  width: 500px;
}

.new_container {
	width:100%;
	padding-right:15px;
	padding-left:15px;
	margin-right:auto;
	margin-left:auto
}
.new_row{
	margin-right:-15px;
	margin-left:-15px
}  

.nav-tabs {
  border-bottom:1px solid #ddd
}
.navbar{display:none}
</style>
{% extends 'consdavivienda/base.html' %}
{% load static %}
{% load humanize %}
{% block content %}
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<div class="new_container">

<div class="row mb-2">
	<div class="col">
	<strong class="d-inline-block mb-2 text-primary">Informaci&oacute;n  Persona Juridica</strong>
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <h4 class="mb-0">{{resumenObject.razon_social}}</h3>
          <div class="mb-1 text-muted">Identificaci&oacute;n : {{resumenObject.identificacion}}</div>
          <div class="mb-1 text-muted">Tipo Documento : {{resumenObject.tipo_de_identificacion}}</div>
		  <div class="mb-1 text-muted">País Constitución: {{resumenObject.pais_constitucion}}</div>
		  <div class="mb-1 text-muted">Ciudad: {{resumenObject.ciudad}}</div>
		  <div class="mb-1 text-muted">Fecha Constitución: {{resumenObject.fecha_de_constitucion}}</div>
		  <div class="mb-1 text-muted">Dirección: {{resumenObject.direccion}} -  {{resumenObject.ciudad_direccion}}</div>
		  <div class="mb-1 text-muted">Teléfono: {{resumenObject.celular_principal}}</div>
		  <div class="mb-1 text-muted">Email: {{resumenObject.correo_electronico}}</div>
        </div>
        <div class="col-auto d-none d-lg-block">
         <img src="{% static 'consdavivienda/images/fotocliente.jpg' %}" class="rounded float-right"  style="width: 200px;" alt="Image Client">
        </div>
      </div>
    </div>
  </div>
  <div class ="row"> 
	 &nbsp;&nbsp;&nbsp;
	 <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#personalInformationLong">
	  Información Basica
	</button> 
     &nbsp;&nbsp;&nbsp;
	 <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalProducts">
	  Informacion  Productos
	</button> 
	 &nbsp;&nbsp;&nbsp;
	 
	<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#personalInformationME">
	  Informacion  Financiera ME 
	</button> 
	 &nbsp;&nbsp;&nbsp;
<!-- 
	 <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">
	  Riesgos
	</button> 
	 
	 &nbsp;&nbsp;&nbsp;
	 <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">
	  Ingresos
	</button>
-->
  </div>
  
 <!-- Modal  Informacion  Personal :-->

 
 <div class="modal fade" id="personalInformationLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Información Personal</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
			<table class="table table-sm table-dark">
			  <thead>
				<tr>
				</tr>
			  </thead>
			  <tbody>
				<tr>
				<td colspan ="1">Ciiu</td>
				<td colspan ="2">{{resumenObject.ciuu}}</td>
				</tr>
				
				<tr>
				<td colspan ="1">Actividad Económica</td>
				<td colspan ="2">{{resumenObject.actividad_economica}}</td>
				</tr>				
				
				<tr>
				<td colspan ="1">Tipo Empresa</td>
				<td colspan ="2">{{resumenObject.tipo_de_empresa}}</td>
				</tr>	
				
				<tr>
				<td colspan ="1">Clase Empresa</td>
				<td colspan ="2">{{resumenObject.clase_empresa}}</td>
				</tr>

				<tr>
				<td colspan ="1">Clase Empresa</td>
				<td colspan ="2">{{resumenObject.clase_empresa}}</td>
				</tr>				
				

				<tr>
				<td colspan ="1">Segmentación Empresarial</td>
				<td colspan ="2">{{resumenObject.segmento_empresarial}}</td>
				</tr>
				
				
				<tr>
				<td colspan ="1">Total Ingresos</td> 				
				<td colspan ="2">{{resumenObject.total_ingresos|floatformat:0|intcomma}}</td> 
				</tr>

				<tr>
				<td colspan ="1">Total Egresos</td> 				
				<td colspan ="2">{{resumenObject.total_egresos|floatformat:0|intcomma}}</td> 
				</tr>

				<tr>
				<td colspan ="1">Total Activos</td> 				
				<td colspan ="2">{{resumenObject.total_activos|floatformat:0|intcomma}}</td> 
				</tr>

				<tr>
				<td colspan ="1">Total Pasivos</td> 				
				<td colspan ="2">{{resumenObject.total_pasivos|floatformat:0|intcomma}}</td> 
				</tr>
				
				<tr>
				<td colspan ="1">Empresa Cotiza en Bolsa</td> 				
				<td colspan ="2">{{resumenObject.empresa_cotiza_en_bolsa}}</td> 
				</tr>
				
				<tr>
				<td colspan ="1">Operaciones Internacionales</td> 				
				<td colspan ="2">{{resumenObject.operaciones_internacionales}}</td> 
				</tr>
				
				<tr>
				<td colspan ="1">Vigilada por Super Intendencia</td> 				
				<td colspan ="2">{{resumenObject.empresa_es_vigilada_por_superi}}</td> 
				</tr>
				
				<tr>
				<td colspan ="1">Fatca</td> 				
				<td colspan ="2">{{resumenObject.impactado_fatca}}</td> 
				</tr>
				
				<tr>
				<td colspan ="1">Residencia Fiscal Diferente a Colombia</td> 				
				<td colspan ="2">{{resumenObject.resid_fiscal_en_pais_dif_a_col}}</td> 
				</tr>
				
				<tr>
				<td colspan ="1">Numero TIN </td> 				
				<td colspan ="2">{{resumenObject.numero_tin}}</td> 
				</tr>

				<tr>
				<td colspan ="1">Lavasdo Activos </td> 				
				<td colspan ="2">{{resumenObject.controla_lavado_de_activos}}</td> 
				</tr>

				<tr>
				<td colspan ="1">Cliente PEPS</td> 				
				<td colspan ="2">{{resumenObject.cliente_peps}}</td> 
				</tr>
				
				<tr>
				<td colspan ="1">Maneja Recursos Públicos</td> 				
				<td colspan ="2">{{resumenObject.maneja_recursos_publicos}}</td> 
				</tr>
				
			  </tbody>
			</table>		 
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="personalInformationME" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Información Financiera ME </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
			<table class="table table-sm table-dark">
			  <thead>
				<tr>
				</tr>
			  </thead>
			 <tbody>	
				<tr>
				<td colspan ="1">Promedio Dolar </td>
				<td colspan ="1">{%if resumenInfoFinancieraMe.avg_valor_usd %}{{resumenInfoFinancieraMe.avg_valor_usd|floatformat:0|intcomma}}{%else%}{{0}} {%endif%} </td>     
				</tr>	
				
				<tr>
				<td colspan ="1">Monto Medio de Dolar </td>
				<td colspan ="1">{% if resumenInfoFinancieraMe.monto_usd_q50%}{{resumenInfoFinancieraMe.monto_usd_q50|floatformat:0|intcomma}}{%else%}{{0}} {%endif%}</td>     
				</tr>	
				
				<tr>
				<td colspan ="1">M&aacute;ximo d&iacute;as sin Operar</td>
				<td colspan ="1">{% if resumenInfoFinancieraMe.max_d_sin_oper%}{{resumenInfoFinancieraMe.max_d_sin_oper|floatformat:0|intcomma}}{%else%}{{0}} {%endif%}</td>     
				</tr>

				<tr>
				<td colspan ="1">M&iacute;nimo d&iacute;as sin Operar </td>
				<td colspan ="1">{% if resumenInfoFinancieraMe.min_dias_sin_transar%}{{resumenInfoFinancieraMe.min_dias_sin_transar|floatformat:0|intcomma}}{%else%}{{0}} {%endif%}</td>     
				</tr>
				
				<tr>
				<td colspan ="1">D&iacute;as Medio sin realizar Operaciones </td>
				<td colspan ="1">{% if resumenInfoFinancieraMe.dias_sin_transar_q50 %}{{resumenInfoFinancieraMe.dias_sin_transar_q50|floatformat:0|intcomma}}{%else%}{{0}} {%endif%}</td>     
				</tr>
				 
				<tr>
				<td colspan ="1">Total de Transacciones en EU</td>
				<td colspan ="1">{% if resumenInfoFinancieraMe.total_transacciones_eur %}{{resumenInfoFinancieraMe.total_transacciones_eur|floatformat:0|intcomma }}{%else%}{{0}}{%endif%}</td>     
				</tr>				 
			  		
                <tr>
				<td colspan ="1">Total de Transacciones en USD</td>
				<td colspan ="1">{%if resumenInfoFinancieraMe.total_transacciones_usd%}{{resumenInfoFinancieraMe.total_transacciones_usd|floatformat:0|intcomma}}{%else%} {{0}}{%endif%}</td>     
				</tr>

	
	            <tr>
				<td colspan ="1">Total de Transacciones en CAD</td>
				<td colspan ="1">{% if resumenInfoFinancieraMe.total_transacciones_cad%}{{resumenInfoFinancieraMe.total_transacciones_cad|floatformat:0|intcomma}}{%else%}{{0}}{%endif%}</td>     
				</tr>	

	            <tr>
				<td colspan ="1">Antiguedad Transaccional</td>
				<td colspan ="1">{% if resumenInfoFinancieraMe.antiguedad_transaccional%}{{resumenInfoFinancieraMe.antiguedad_transaccional|floatformat:0|intcomma}}{%else%}{{0}}{%endif%}</td>     
				</tr>					
				
			  </tbody>
			</table>	  
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
 
  
<!-- Modal  Productos :-->
<div class="modal fade" id="modalProducts" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Productos</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
		 <table class="table">
		  <thead class="thead-dark">
			<tr>
			  <th scope="col">Producto</th>
			  <th scope="col">Cupo</th>
			</tr>
		  </thead>
		  <tbody>
		  {% if productosResult %}
			  {% for products in productosResult %}
				<tr>
				  <td>{{products.numero_cuenta}}</td>
				  <td>{{products.nombre_producto}}</td>
				</tr>
			 {% endfor %}	
		  {% else %} 
		  <tr>
		   <td colspan='2'>
			<p> <b> No se encontraron datos </b> </p>
		   </td>
		  </tr>
		  {% endif %}	 
		  </tbody>
		</table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>


</div>
{% endblock %}